<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="/js/post.js"></script> 
    <title>住所検索</title>
</head>
<body>
    <h1>住所検索</h1>
    <form action="/submit" method="post" id="searchAddress">
        郵便番号：<input type="text" id="zipcode">
        <button type="submit">送信</button>
    </form>
   <div id="zip"></div>
   <div id="kana"></div>
   <div id="address"></div>
</body>
</html>
